{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}
   <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css"/>
{% endblock %}

{% block body %}
    <h2>Commentaires non validés</h2>
    
    <table id="comments_rejected_table" class="display">
        <thead>
            <tr>
                <th>Auteur</th>
                <th>Date de Publication</th>
                <th>Contenu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in rejectedComments %}
                <tr>
                    <td>{{ comment.name }}</td>
                    <td>{{ comment.date.format('Y-m-d H:i:s') }}</td>
                    <td>{{ comment.content }}</td>
                    <td>
                        <!-- Ajoutez les boutons et les liens nécessaires pour gérer les commentaires non validés -->
                        <td>
						<a href="/admin/validateComment/{{ comment.id }}">
							<i class="fas fa-check">Valider</i>
						</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block js %}
    {{ parent() }}
    <!-- Ajoutez les scripts JS spécifiques à cette page si nécessaire -->
    <script src="../js/comments_rejected.js"></script>
{% endblock %}
