{% extends 'base.html.twig' %}
{% block body %}
	<div class="title-article">
		<h1>Liste des Articles à consulter</h1>

	</div>
	<ul class="display-article">
		{% for article in articles %}
			<li class="article-list">
				<h2>{{ article.title }}</h2>
				 {% if article.updateDate %}
                    <p class="date-style">Modifié le {{ article.updateDate|date('d/m/Y') }}</p>
                {% else %}
                    <p class="date-style">Publié le {{ article.date|date('d/m/Y') }}</p>
                {% endif %}
				<p>{{ article.chapo|split(' ')|slice(0, 10)|join(' ') }}
					{% if article.chapo|split(' ')|length > 10 %}
						...
					{% endif %}
				</p>
				<p class="link-to-article">
					<a href="/article/{{ article.id }}" target="_blank" class="link-article">Lire l'article</a>
				</p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
