{# un article avec le détail #}
{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ article.title }}</h1>
    {% if article.updateDate %}
<p>Date de Modification : {{ article.updateDate|date('d/m/Y')  }}</p>
{% endif %}
    
    <p>Chapo : {{ article.chapo }}</p>
    <p>Contenu : {{ article.content }}</p>
    <p>Auteur : {{ article.getAuthorFullName }}</p>
{% endblock %}

	{# {% include 'comment/comment.html.twig' %}
	{% include 'comment/_newComment.html.twig' %} #}

	{# {% extends '_newComment.html.twig' %}  comment faire? #}
	
	



