{# un article avec le détail #}
{% extends 'base.html.twig' %}
{% block js %}
	<script src="../js/effect.js"></script>
{% endblock %}

{% block body %}
	<div class="article-liste">
		<h2 class="article-title">{{ article.title }}</h2>
		<p>{{ article.chapo|split(' ')|slice(0, 10)|join(' ') }}
			{% if article.chapo|split(' ')|length > 10 %}
				...
			{% endif %}
		</p>
		<div class="style-content">
			{{ article.content|raw }}</p>
	</p>
</div>
<p class="auteur-article">by
	{{ article.firstname }}
	{{ article.lastname }}</p>
{% if article.updateDate %}
	<p class="date-style">Modifié le{{ article.updateDate|date('d/m/Y') }}</p>
{% else %}
	<p class="date-style">Publié le
		{{ article.date|date('d/m/Y') }}</p>
{% endif %}
<div class="comment-section">
	<h5>Commentaires</h5>
	<ul>
		{% for comment in comments %}
			<li class="comment-item">
				<div class="comment-details">
					<p>{{ comment.content|split(' ')|slice(0, 10)|join(' ') }}
						{% if comment.content|split(' ')|length > 10 %}{% endif %}
						<div class="comment-meta">{{ comment.pseudo }}
							le
							{{ comment.Date|date('d/m/Y') }}</div>
					</p>
				</div>
			</li>
		</p>
	</li>
{% else %}
	<p>Aucun commentaire pour cet article.</p>
{% endfor %}</div>{% include 'comment/addComment.html.twig' %}</ul>{% endblock %}
