{# un article avec le détail #}
{% extends 'base.html.twig' %}

{% block body %}

	<h1>{{ article.title }}</h1>
	<p>Chapô :
		{{ article.chapo }}</p>
	<p>Contenu :
		{{ article.content }}</p>
	<p>Auteur :
		{{ article.getAuthorFullName }}</p>
	{% if article.updateDate %}
		<p>Date de Modification :
			{{ article.updateDate|date('d/m/Y') }}</p>
	{% endif %}

	<h2>Commentaires validés et publiés :</h2>
	<ul>
		{% for comment in approvedComments %}
			{% if comment.getIsApproved %}
				<li>
					<p>{{ comment.content }}</p>
					<p>Auteur :
						{{ comment.getAuthorFullName }}</p>
					<p>Date de Publication :
						{{ comment.getDate|date('d/m/Y') }}</p>
				</li>
			{% endif %}

		{% endfor %}
		{% include 'comment/addComment.html.twig' %}
	</ul>

{% endblock %}
